<div class="ss p-5" style="background-color: #465548; border-radius: 5px">
  <div class="container mt-5 cont_cursos">
    <section id="cursos">
      <h2 class="mb-4 text-center curse_tit fs-1">Cursos disponibles</h2>
    </section>
    <p class="lead text-center">
      Al registrarse como miembros del taller de Lobos IA, tendrán derecho a
      cursar varios cursos, estos totalmente gratis.
    </p>
    <div class="row mt-4">
      <!-- Curso de Python -->
      <div class="col-md-4">
        <div class="card">
          <img src="/public/img/py.png" class="card-img-top" alt="Python" />
          <div class="card-body">
            <h5 class="card-title">Python</h5>
            <p class="card-text">
              Aprende a programar en Python desde cero. Ideal para
              principiantes.
            </p>
          </div>
        </div>
      </div>
      <!-- Curso de Data Science -->
      <div class="col-md-4">
        <div class="card">
          <img
            src="/public/img/dt.png"
            class="card-img-top"
            alt="Data Science"
          />
          <div class="card-body">
            <h5 class="card-title">Data Science</h5>
            <p class="card-text">
              Descubre el fascinante mundo del análisis y ciencia de datos.
            </p>
          </div>
        </div>
      </div>
      <!-- Curso de Data Analytics -->
      <div class="col-md-4">
        <div class="card">
          <img
            src="/public/img/da.png"
            class="card-img-top"
            alt="Data Analytics"
          />
          <div class="card-body">
            <h5 class="card-title">Data Analytics</h5>
            <p class="card-text">
              Convierte grandes conjuntos de datos en información valiosa para
              tu negocio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
