<link rel="stylesheet" href="/public/css/proyects.css" />
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <section id="proyectos">
        <h2 class="text-yellow title_proyects">LÍNEAS DE INVESTIGACIÓN</h2>
      </section>
    </div>

    <!-- F A C I A L  R E C O G N I T I O N -->
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-lg">
        <div class="card-body text-center">
          <i class="fas fa-user fa-3x mb-3 text-yellow"></i>
          <h3 class="text-yellow underline-yellow">Facial Recognition</h3>
          <p>
            Usaremos IA para establecer un sistema de reconocimiento facial al
            ingresar a la Universidad.
          </p>
        </div>
      </div>
    </div>

    <!-- P L A T E S  R E C O G N I T I O N -->
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-lg">
        <div class="card-body text-center">
          <i class="fas fa-car fa-3x mb-3 text-yellow"></i>
          <h3 class="text-yellow underline-yellow">Plates Recognition</h3>
          <p>
            Al igual que con el reconocimiento facial con IA usado como método
            de seguridad para ingresar a las instalaciones de la Universidad, lo
            implementaremos en el estacionamiento.
          </p>
        </div>
      </div>
    </div>

    <!-- C H A T B O T F O R  U T S J R . C O M -->
    <div class="col-md-4 mb-4">
      <div class="card bg-dark text-white h-100 shadow-lg">
        <div class="card-body text-center">
          <i class="fas fa-comments fa-3x mb-3 text-yellow"></i>
          <h3 class="text-yellow underline-yellow">Chatbot for UTSJR.com</h3>
        </div>
      </div>
    </div>
  </div>
</div>
