<%- include("templates/index") %>
<link rel="stylesheet" href="/public/css/home.css" />
<div class="container mt-5 text-center">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Felicitaciones!</h4>
        <p>Tu formulario de inscripción ha sido enviado exitosamente.</p>
        <hr>
        <p class="mb-0">Gracias por registrarte. Te contactaremos pronto.</p>
    </div>
</div>
<script>
    // Redirige a la página principal después de 5 segundos
    setTimeout(function() {
        window.location.href = '/';
    }, 5000); // 5000 milisegundos = 5 segundos
</script>
</body>
</html>