<footer class="mt-5 py-5" style="background-color: #465548;">
    <section id="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <div class="programmer">
                    <img src="/public/img/mau.png" alt="Programador 1" class="rounded-circle img-fluid mb-3">
                    <p>Programador 1</p>
                    <p>Pasa el mouse para contactarme</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="programmer">
                    <img src="/public/images/programmer2.jpg" alt="Programador 2" class="rounded-circle img-fluid mb-3">
                    <p>Programador 2</p>
                    <p>Pasa el mouse para contactarme</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="programmer">
                    <img src="/public/images/programmer3.jpg" alt="Programador 3" class="rounded-circle img-fluid mb-3">
                    <p>Programador 3</p>
                    <p>Pasa el mouse para contactarme</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="programmer">
                    <img src="/public/images/programmer4.jpg" alt="Programador 4" class="rounded-circle img-fluid mb-3">
                    <p>Programador 4</p>
                    <p>Pasa el mouse para contactarme</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</section>
</body>
</html>